@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AppLang> AppLangResource
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@AppLangResource["DATA_CUST_TABLEGROUP"]</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="groupName">
                    @AppLangResource["DATA_CUST_TABLE_GRPNAME"]
                </label>
                <input class="form-control" id="groupName" type="text" ng-model="ctrl.currentGroup.groupName" placeholder="Enter Group Name">
            </div>
            <div class="form-group">
                <label for="groupKey">
                    @AppLangResource["DATA_CUST_TABLE_GRPKEY"]
                </label>
                <input class="form-control" id="groupKey" type="text" ng-model="ctrl.currentGroup.groupKey" placeholder="Enter Group Key">
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button class="btn btn-primary" type="submit" ng-click="ctrl.SaveChange()">
                @AppLangResource["COMMON_BTN_SAVE"]
            </button>
            <button class="btn btn-primary" ng-click="ctrl.SetEdit(false)">@AppLangResource["CONTACTS_BTN_RETURNTOLIST"]</button>
        </div>
    </form>
</div>