@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ConsolePortal> localResource
@{
    ViewBag.Title = "Index";
}
@model PostViewModel
 <!-- HEADER -->
<header>
    <!-- MENU BLOCK -->
    <div class="menu_block margbot20">
        <!-- CONTAINER -->
        <div class="container clearfix">
            <!-- LOGO -->
            <div class="logo pull-left">
                <a href="~/"><span class="b1">FEConsole</span><span class="b5">Portal</span></a>
            </div><!-- //LOGO -->

            <div class="pull-right">
                <nav class="navmenu center">
                    <div class="navbar" id="myNavbar">
                        <ul>
                            <li><a class="label label-primary" href="~/#articles"><i class="fa fa-reply-all"></i> @localResource["PORTAL_POST_LIST"]</a></li>
                        </ul>
                    </div>
                </nav>
            </div><!-- //MENU -->
        </div><!-- //MENU BLOCK -->
    </div><!-- //CONTAINER -->
</header><!-- //HEADER -->
<!-- BREADCRUMBS -->
<section class="clearfix parallax">
    <div class="container center" style="margin-top:20px;">
        <h2>@Model.PostTitle</h2>
    </div>
</section><!-- //BREADCRUMBS -->

<section id="posts">

    <!-- CONTAINER -->
    <div class="container padbot50">
        <!-- ROW -->
        <div class="row">
            <!-- BLOG BLOCK -->
            <div class="blog_block col-lg-12 col-md-12 padbot50">
                <!-- SINGLE BLOG POST -->
                <div class="single_blog_post clearfix" data-animated="fadeInUp">

                    <div class="single_blog_post_descr">
                        @*<div class="single_blog_post_title">@Model.PostTitle</div>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="label label-warning"><i class="fa fa-user"></i> @Model.Author</div>
                                @if (Model.IsOriginal)
                                {
                                    <div class="label label-info"><i class="fa fa-star"></i> @localResource["PORTAL_ORIGINAL"]</div>
                                }
                                else
                                {
                                    <div class="label label-info"><i class="fa fa-copy"></i> @localResource["PORTAL_COPY"]</div>
                                }
                                <div class="label label-primary"><i class="fa fa-clock-o"></i> @Model.Updated</div>
                            </div>
                            <div class="col-md-6 showbottom">
                                <div class="share-component pull-right"
                                     data-title="@Model.PostTitle"
                                     data-url="@Model.ContentUrl"
                                     data-description="@Model.PostDesc"
                                     data-image="@Model.ImageUrl"
                                     data-disabled="diandian, douban, tencent"></div>
                            </div>
                        </div>

                    </div>
                    <div class="bs-callout bs-callout-primary">
                        <p class="lead">@Model.PostDesc</p>
                    </div>
                    <div class="single_blog_post_content">
                        @Html.Raw(Model.PostContent)
                    </div>

                </div><!-- //SINGLE BLOG POST -->
            </div><!-- //BLOG BLOCK -->
        </div><!-- //ROW -->
        <hr />
        <div class="single_blog_post margbot20">
            <div class="row">
                <div class="col-md-6">
                    <div class="label label-warning"><i class="fa fa-user"></i> @Model.Author</div>
                    @if (Model.IsOriginal)
                    {
                        <div class="label label-info"><i class="fa fa-star"></i> @localResource["PORTAL_ORIGINAL"]</div>
                    }
                    else
                    {
                        <div class="label label-info"><i class="fa fa-copy"></i> @localResource["PORTAL_COPY"]</div>
                    }
                    <div class="label label-primary"><i class="fa fa-clock-o"></i> @Model.Updated</div>
                </div>
                <div class="col-md-6">
                    <div class="share-component pull-right"
                         data-title="@Model.PostTitle"
                         data-url="@Model.ContentUrl"
                         data-description="@Model.PostDesc"
                         data-image="@Model.ImageUrl"
                         data-disabled="diandian, douban, tencent"></div>
                </div>
            </div>

        </div>
    </div><!-- //CONTAINER -->
   
    <script src="~/js/social-share.min.js" type="text/javascript"></script>
    <script src="~/js/qrcode.js" type="text/javascript"></script>
</section>